<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus modi, quas animi facere provident at asperiores. Laudantium, inventore accusamus!</p>
    </div>
</section>