<div class="card mt-4">
    <div class="card-body">
        <h1 class="display-4">Notes App NodeJS - MongoDB</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quasi tempore praesentium beatae consequuntur eum.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis officiis eos, a nobis aperiam aut autem nisi provident ex minus.</p>
        <a href="https://github.com/NicolasBQ" class="btn btn-primary">NicolasBQ</a>
    </div>
</div>